<h1 class="slider-title">Gallery</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card hover">
            <img src="../../../../assets/celebrations/Snacks-1.jpg" height="250" width="300" class="card-img-top" alt="SnacksGames" />
            <div class="middle">
                <div class="text" routerLink="gallery/fun">Snacks and Games</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card hover">
            <img src="../../../../assets/celebrations/Bday-1.jpg" height="250" width="300" class="card-img-top" alt="Birthday" />
            <div class="middle">
                <div class="text" routerLink="gallery/birthday">Birthday Celebration</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card hover">
            <img src="../../../../assets/celebrations/Holi-1.jpg" height="250" width="300" class="card-img-top" alt="Holi" />
            <div class="middle">
                <div class="text" routerLink="gallery/holi">Holi Celebration</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card hover">
            <img src="../../../../assets/celebrations/Independence-1.jpg" height="250" width="300" class="card-img-top" alt="Independence" />
            <div class="middle">
                <div class="text" routerLink="gallery/independency">Independence Day</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card hover">
            <img src="../../../../assets/celebrations/Diwali-1.jpg" height="250" width="300" class="card-img-top" alt="Diwali" />
            <div class="middle">
                <div class="text" routerLink="gallery/diwali">Diwali Celebration</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card hover">
            <img src="../../../../assets/celebrations/Diwali-1.jpg" height="250" width="300" class="card-img-top" alt="Skyscrapers" />
            <div class="middle">
                <div class="text" routerLink="gallery/more">View More</div>
            </div>
        </div>
    </div>
    <!-- <p class="text-end mt-2" router ><a routerLink="/gallery" class="btn btn-outline">Load More </a></p> -->