<h1 class="slider-title">Gallery</h1>
<!--<ng-image-slider #nav
[images]="imageObject"
[infinite]="true"
[autoSlide]="1"
[imageSize]="{width: '205',space:24}"
[showArrow]="false"
[imagePopup]="false"
slideImage="1"></ng-image-slider> -->

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card hover">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers" />

            <div class="middle">
                <div class="text" routerLink="gallery">Diwali Celebration</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card hover">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers" />

            <div class="middle">
                <div class="text" routerLink="gallery">Independence Day</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card hover">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers" />

            <div class="middle">
                <div class="text" routerLink="gallery">Birthday Celebration</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card hover">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers" />

            <div class="middle">
                <div class="text" routerLink="gallery">Christmas Celebration</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card hover">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers" />
            <div class="middle">
                <div class="text" routerLink="gallery">Holi Celebration</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card hover">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers" />

            <div class="middle">
                <div class="text" routerLink="gallery">View More</div>
            </div>
        </div>
    </div>
    <!-- <p class="text-end mt-2" router ><a routerLink="/gallery" class="btn btn-outline">Load More </a></p> -->