<div>
  <app-top-navigator (showSection)="showSection($event)"></app-top-navigator>

  <div style="margin: 50px 70px 0px 70px;">
    <div [id]="section == 'home' && 'home'"></div>
    <app-home></app-home>

    <div [id]="section == 'about' && 'about'"></div>
    <app-about></app-about>

    <div [id]="section == 'services' && 'services'"></div>
    <app-services></app-services>

    <div [id]="section == 'skills' && 'skills'"></div>
    <app-skills></app-skills>
    <!-- <app-contacts></app-contacts> -->
  </div>

</div>