<footer class="page-footer grey lighten-3">
  <div class="container center">
    <a
      href="https://www.facebook.com/info.jyotitechnosoft/?ref=py_c"
      class="btn-floating waves-effect waves-light grey darken-3"
    >
      <i class="fa fa-facebook"></i>
    </a>
    <a
      href="https://g.page/jyoti-technosoft?gm"
      class="btn-floating waves-effect waves-light grey darken-3"
    >
      <i class="fa fa-google-plus-square"></i>
    </a>
    <a
      href="https://twitter.com/JyotiTechnosoft"
      class="btn-floating waves-effect waves-light grey darken-3"
    >
      <i class="fa fa-twitter"></i>
    </a>
    <a
      href="https://in.linkedin.com/company/jyoti-technosoft"
      class="btn-floating waves-effect waves-light grey darken-3"
    >
      <i class="fa fa-linkedin"></i>
    </a>
    <a
      href="https://github.com"
      class="btn-floating waves-effect waves-light grey darken-3"
    >
      <i class="fa fa-github"></i>
    </a>
  </div>
  <div class="footer-copyright grey lighten-3 grey-text text-darken-3">
    <div class="container center">&copy; 2022 Jyoti Technosoft LLP</div>
  </div>
</footer>
