
<div class="home-container">
    <div class="content-section">
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
        <p>Start editing to see some magic happen :)</p>
    </div>
    <div class="image-section">
        <p style="display: none;">Image section</p>
    </div>
</div>
