
<div class="container">
    <div class="home-container">
        <div class="content-section">
            <ngb-carousel *ngIf="images" [showNavigationIndicators]="false" [showNavigationArrows]="false"
                [pauseOnHover]="true" [pauseOnFocus]="true" [interval]="2500">
                <ng-template ngbSlide>
                    <div class="backgroundsmall">
                        <img src="{{sliderimage}}" alt="">
                    </div>
                    <div *ngFor="let list of card1" class="carousel-caption">
                        <h4>{{list.heading}}</h4>
                        <h5>{{list.subHeading}}</h5>
                        <p>{{list.content}}</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="backgroundsmall">
                        <img src="{{sliderimage}}" alt="">
                    </div>
                    <div *ngFor="let list of card2" class="carousel-caption">
                        <h4>{{list.heading}}</h4>
                        <h5>{{list.subHeading}}</h5>
                        <p>{{list.content}}</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="backgroundsmall">
                        <img src="{{sliderimage}}" alt="">
                    </div>
                    <div *ngFor="let list of card3" class="carousel-caption">
                        <h4>{{list.heading}}</h4>
                        <h5>{{list.subHeading}}</h5>
                        <p>{{list.content}}</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="backgroundsmall">
                        <img src="{{sliderimage}}" alt="">
                    </div>
                    <div *ngFor="let list of card4" class="carousel-caption">
                        <h4>{{list.heading}}</h4>
                        <h5>{{list.subHeading}}</h5>
                        <p>{{list.content}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="image-section">
            <img src="{{image}}" style="height: auto;width: 100%;" alt="">
        </div>
        <div class="slider-container">
            <marquee class="slider">
                <div class="slider-container">
                    <div *ngFor="let image of imagesUrl; let i = index" style="margin-right: 50px;">
                        <div *ngIf="i==0; else end">
                            <img src="{{image.image}}" alt="" style="margin-top:9px" width={{image.width}}
                            height={{image.top}} />
                        </div>
                        <ng-template #end>
                            <img src="{{image.image}}" alt=""  width={{image.width}}
                            height={{image.top}} />
                        </ng-template>
                        
                    </div>
                </div>
            </marquee>
        </div>
    </div>