<div class="home-section">
    <div class="home-container">
        <div class="content-section">
            <ngb-carousel *ngIf="images" [showNavigationIndicators]="false" [showNavigationArrows]="false"
                [pauseOnHover]="true" [pauseOnFocus]="true" [interval]="2500">
                <ng-template ngbSlide>
                    <div>
                        <img src="app/assets/images/home-background.svg" alt="">
                    </div>
                    <div class="carousel-caption">
                        <h4>{{images[0].title}}</h4>
                        <h5>{{images[0].subtitle}}</h5>
                        <p>{{images[0].content}}</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div>
                        <img src="app/assets/images/home-background.svg" alt="">
                    </div>
                    <div class="carousel-caption">
                        <h4>{{images[1].title}}</h4>
                        <h5>{{images[1].subtitle}}</h5>
                        <p>{{images[1].content}}</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div>
                        <img src="app/assets/images/home-background.svg" alt="">
                    </div>
                    <div class="carousel-caption">
                        <h4>{{images[2].title}}</h4>
                        <h5>{{images[2].subtitle}}</h5>
                        <p>{{images[2].content}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="image-section">
            <img src="app/assets/images/home-bg.svg" style="height: auto;width: 100%;" alt="">
        </div>
    </div>
    <div class="slider-container">
        <marquee class="slider">
            <div class="slider-container">
                <div *ngFor="let image of imagesUrl" style="margin-right: 50px;">
                    <img src="{{image.image}}" alt="" [ngStyle]="image.margin" width={{image.width}} height={{image.top}} />
                </div>
            </div>
        </marquee>
    </div>

</div>