.home-container {
    display: flex;
}
.content-section {
    width: 50%;
    margin-top: 50px;
}
.image-section {
    background: url("/app/assets/images/home-bg.svg") no-repeat right;
    width: 45%;
}