<div class="contacts-section">

    <h1 class="contacts-section-title">Contacts Us</h1>
    <h5 class="contacts-subtitle">{{content}}</h5>

    <div class="section">
        <div class="left-section">
            <form [formGroup]="myForm">
                <div class="icon-input" *ngFor="let list of contact1">
                    <mat-icon class="mr-10" aria-label="Example home icon">{{list.icon}}</mat-icon>
                    <mat-form-field class="example-full-width">
                        <mat-label >{{list.name}}</mat-label>
                        <input matInput type="text" formControlName="name" id="name">
                        <mat-error *ngIf="myError('name', 'required')">Name is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="icon-input" *ngFor="let list of contact2">
                    <mat-icon aria-label="Example home icon">{{list.icon}}</mat-icon>
                    <mat-form-field class="example-full-width">
                        <mat-label>{{list.email}}</mat-label>
                        <input matInput type="email" formControlName="email" id="email">
                        <mat-error *ngIf="myError('email', 'required')">Email is required</mat-error>
                        <mat-error *ngIf="myError('email', 'email')">Email is invalid</mat-error>
                    </mat-form-field>
                </div>
                <div class="icon-input" *ngFor="let list of contact3">
                    <mat-icon aria-label="Example home icon">{{list.icon}}</mat-icon>
                    <mat-form-field class="example-full-width">
                        <mat-label>{{list.subject}}</mat-label>
                        <input matInput type="text" formControlName="subject" id="subject">
                        <mat-error *ngIf="myError('subject', 'required')">Subject is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="icon-input" *ngFor="let list of contact4">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">{{list.icon}}</mat-icon>
                    <mat-form-field class="example-full-width">
                        <mat-label>{{list.message}}</mat-label>
                        <input matInput type="text" formControlName="message" id="message">
                        <mat-error *ngIf="myError('message', 'required')">Message is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="button-container">
                    <ngx-recaptcha2 siteKey="6LfmNKMZAAAAAKrDxRn2_NcHoRPW9-uFuWs98XCx"></ngx-recaptcha2>
                    <div class="submit-button">
                        <button mat-raised-button [disabled]="myForm.invalid" color="primary" id="submitButton">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="right-section">
            <div class="icon-input" *ngFor="let list of address">
                <mat-icon aria-hidden="false" aria-label="Example home icon">{{list.icon}}</mat-icon>
                <p>{{list.address}}</p>
            </div>
            <div class="icon-input" *ngFor="let list of phone">
                <mat-icon aria-hidden="false" aria-label="Example home icon">{{list.icon}}</mat-icon>
                <p>{{list.phone}}</p>
            </div>
            <div class="icon-input" *ngFor="let list of email">
                <mat-icon aria-hidden="false" aria-label="Example home icon">{{list.icon}}</mat-icon>
                <p>{{list.emailId}}</p>
            </div>
        </div>
    </div>

</div>