.contacts-section {

    .contacts-section-title {
        color: #367dc8;
    }
    .contacts-subtitle {
       color: #9e9e9e !important;
    }
    .left-section {
        width: 50%;
    }
    .right-section {
        width: 50%;
    }
}