<div class="contacts-section">

    <h1 class="contacts-section-title">Contacts Us</h1>
    <h3 class="contacts-subtitle">Drop a line to us. Your word is most important to us.</h3>

    <div style="display: flex;">
        <div class="left-section">
            <div>
                <mat-form-field >
                    <mat-label>Your Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Your Email</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Subject</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Message</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <button mat-button color="primary">SUBMIT</button>
        </div>
        <div class="right-section">
            <div>
                228, Green Elina, Anand Mahal Road, Opp. Sneh Sankul Wadi, Adajan, Surat 395009 Gujarat, India.
            </div>
            <br />
            <div>+91 98798 67255</div>
            <br />
            <div>info@JyotiTechnosoft.com</div>
        </div>
    </div>

</div>