<div class="services-section">
    <h1 class="services-section-title">Services</h1>
    <div class="contant">
        <div class="content-left" *ngFor="let list of contents">
            <p>{{list.content1}}</p>
            <p>{{list.content2}}</p>
        </div>
        <div class="content-right">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="WEB" *ngFor="let list of tab1">
                    <p class="flow-text">{{list.subHeading}}</p>
                    <p>{{list.content1}}</p>
                    <p>{{list.content2}}</p>
                </mat-tab>
                <mat-tab label="MOBILE" *ngFor="let list of tab2">
                    <p class="flow-text">{{list.subHeading}}</p>
                    <p>{{list.content}}</p>
                </mat-tab>
                <mat-tab label="FREELANCING" *ngFor="let list of tab3">
                    <p class="flow-text">{{list.subHeading}}</p>
                    <p>{{list.content}}</p>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="space"></div>
</div>