.services-section {

    margin-top: 50px;

    .services-section-title {
        color: #367dc8;
    }
    .contant {
        display: flex;
    }
    
    .content-left{
        margin-right: 50px;
        width: 50%;
    }
    
    .content-right {
        width: 50%;
        // .mat-tab-group.mat-primary .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-ink-bar {
        //     background-color: #367dc8 !important;
        // }
    }
    
    .flow-text {
        font-size: 1.68rem;
        color: #367dc8;
        margin-top: 10px;
    }
}
.space {
    padding-top: 4vw;
    padding-bottom: 4vw;
}

@media screen and (max-width: 762px) {
    .services-section {
        .contant {
            display: block;
        }
        .content-left {
            margin-right: 50px;
            width: 100%;
        }
        
        .content-right {
            width: 100%;
        }
    }
}