<app-top-navigator ></app-top-navigator>
<div style="margin: 70px 13% 0px 13%">


    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card hover">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                    alt="Skyscrapers" />
            </div>
        </div>
        <div class="col">
            <div class="card hover">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                    alt="Skyscrapers" />
            </div>
        </div>
        <div class="col">
            <div class="card hover">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                    alt="Skyscrapers" />
            </div>
        </div>
        <div class="col">
            <div class="card hover">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                    alt="Skyscrapers" />
            </div>
        </div>
        <div class="col">
            <div class="card hover">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                    alt="Skyscrapers" />
            </div>
        </div>
        <div class="col">
            <div class="card hover">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                    alt="Skyscrapers" />
            </div>
        </div>
        <div class="col">
            <div class="card hover">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                    alt="Skyscrapers" />
            </div>
        </div>
        <div class="col">
            <div class="card hover">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                    alt="Skyscrapers" />
            </div>
        </div>
        <div class="col">
            <div class="card hover">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                    alt="Skyscrapers" />
            </div>
        </div>
    </div>