.skills-section {

    margin-top: 50px;

    .skills-section-title {
        color: #367dc8;
    }

    .skills-container {
        display: flex;
        justify-content: space-between;
        .content-left {
            width: 50%;
            margin-right: 50px;
            // .mat-progress-bar.example-margin.mat-primary .mat-progress-bar-fill::after {
            //     background-color: #367dc8 !important;
            // }
        }
        .content-right {
            width: 50%;
        }
    }
}
.space {
    padding-top: 2vw;
    padding-bottom: 2vw;
}
@media screen and (max-width: 846px) {

    .skills-section {
        .skills-container {
            display: block;
            justify-content: space-between;
            .content-left {
                width: 100%;
                margin-right: 50px;
            }
            .content-right {
                margin-top: 3rem;
                width: 100%;
            }
        }
    }
}