.skills-section {

    margin-top: 50px;

    .skills-section-title {
        color: #367dc8;
    }

    .skills-container {
        display: flex;
        justify-content: space-between;
        .content-left {
            width: 50%;
            margin-right: 50px;
        }
        .content-right {
            width: 50%;
        }
    }
}
.space {
    padding-top: 2vw;
    padding-bottom: 2vw;
}