<div class="skills-section">
    <h1 class="skills-section-title">Skills</h1>
    <div class="skills-container">
        <div class="content-left">
            <div *ngFor="let progress of skill1">
                <p>{{progress.heading}}</p>
                <mat-progress-bar class="example-margin" [color]="color"  [mode]="mode" [value]="progress.progress">
                </mat-progress-bar>
            </div>
            <div *ngFor="let progress of skill2">
                <p>{{progress.heading}}</p>
                <mat-progress-bar class="example-margin" [color]="color"  [mode]="mode" [value]="progress.progress">
                </mat-progress-bar>
            </div>
            <div *ngFor="let progress of skill3">
                <p>{{progress.heading}}</p>
                <mat-progress-bar class="example-margin" [color]="color"  [mode]="mode" [value]="progress.progress">
                </mat-progress-bar>
            </div>
            <div *ngFor="let progress of skill4">
                <p>{{progress.heading}}</p>
                <mat-progress-bar class="example-margin" [color]="color"  [mode]="mode" [value]="progress.progress">
                </mat-progress-bar>
            </div>
            <div *ngFor="let progress of skill5">
                <p>{{progress.heading}}</p>
                <mat-progress-bar class="example-margin" [color]="color"  [mode]="mode" [value]="progress.progress">
                </mat-progress-bar>
            </div>
        </div>
        <div class="content-right">
            <p>{{content}}</p>
        </div>
    </div>
    <div class="space"></div>
</div>