.about-section {
    color: #367dc8;
}

.card {
    width: 250px;
    margin-right: 50px;
}

.values-card {
    width: auto;
    height: 250px;
}

.card-title {
    color: #367dc8;
    font-weight: lighter
}

.values-card-title {
    color: #99c122;
    width: 100px;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    background-color: #3f51b5 !important;
}

.card-container {
    display: flex;
    margin-bottom: 50px;
}