<div class="about-section">

    <h1 class="about-section-title">About Us</h1>
    <div *ngFor="let list of content">
        <p>{{list.content1}}</p>
        <p>{{list.content2}}</p>
        <p>{{list.content3}}</p>
        <p>{{list.content4}}</p>
    </div>
    <div class="card-container">
        <mat-card class="card" *ngFor="let list of card1">
            <mat-card-title class="card-title">{{list.heading}}</mat-card-title>
            <mat-card-content>{{list.content}}</mat-card-content>
        </mat-card>
        <mat-card class="card" *ngFor="let list of card2">
            <mat-card-title class="card-title">{{list.heading}}</mat-card-title>
            <mat-card-content>{{list.content}}</mat-card-content>
        </mat-card>
        <mat-card class="card last-card" *ngFor="let list of card3">
            <mat-card-title class="card-title">{{list.heading}}</mat-card-title>
            <mat-card-content>{{list.content}}</mat-card-content>
        </mat-card>
    </div>

    <mat-card class="values-card">
        <mat-card-title class="card-title" *ngFor="let list of valuecard">{{list.heading}}</mat-card-title>
        <mat-card-content>
            <div class="carditem" *ngFor="let list of subContent1">
                <div class="values-card-title">{{list.heading}}</div> <div>{{list.content}}</div>
            </div>
                <br />
            <div class="carditem" *ngFor="let list of subContent2">
                <div class="values-card-title">{{list.heading}}</div> <div>{{list.content}}</div>
            </div>
                <br />
            <div class="carditem" *ngFor="let list of subContent3">
                <div class="values-card-title">{{list.heading}}</div> <div>{{list.content}}</div>
            </div>
                <br />
            <div class="carditem" *ngFor="let list of subContent4">
                <div class="values-card-title">{{list.heading}}</div> <div>{{list.content}}</div>
            </div>
                <br />
            <div class="carditem" *ngFor="let list of subContent5">
                <div class="values-card-title">{{list.heading}}</div> <div>{{list.content}}</div>
            </div>

        </mat-card-content>
        
    </mat-card>
  <div class="space">

  </div>
</div>