.about-section {

    margin-top: 50px;
    
    .about-section-title {
        color: #367dc8;
    }

    p, span {
        font-size: 15px;
    }
    .carditem {
        display: flex;
    }
    .card-container {
        display: flex;
        margin: 30px 0px;
        .card {
            margin-right: 12px;
        }
        .last-card {
            margin-right: 0px;
        }
    }

    .card-title {
        color: #367dc8;
        font-weight: lighter
    }

    .values-card {
        width: auto;
        height: auto;
        .values-card-title {
            color: #99c122;
            width: 100px;
        }
    }

    .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
        background-color: #3f51b5 !important;
    }

}
.space {
    padding-top: 4vw;
    padding-bottom: 4vw;
}


// media query for responsive 
@media screen and (max-width: 762px) {
    .about-section {
        .carditem {
            display: block;
        }
        .card-container {
            display: block;
            margin: 30px 0px;
            .card {
                width: 100%;
                margin-bottom: 20px;
            }
            .last-card {
                margin-right: 0px;
            }
        }
    } 
}