.mat-toolbar-row, .mat-toolbar-single-row {
	position: fixed;
    top: 0;
	z-index: 9;
}
.logo {
	height: 40px;
	margin: 10px 0px 0px 50px;
}
.navigation-spacer {
	flex: 1 1 auto;
}
.nav-button-row {
	display: table-cell;
	width: 420px;
}