<mat-toolbar>
  <a href="#">
    <img class="logo" src="/app/assets/images/JyotiTechnosoft-logo.png" />
  </a>
  <span class="navigation-spacer"></span>
  <div class="nav-button-row">
    <button mat-button color="primary" (click)="goDown('home')">Home</button>
    <button mat-button color="primary" (click)="goDown('about')">About</button>
    <button mat-button color="primary" (click)="goDown('services')">Services</button>
    <button mat-button color="primary" (click)="goDown('skills')">Skills</button>
    <button mat-button color="primary" (click)="goDown('contacts')">Contacts</button>
  </div>
</mat-toolbar>
