<!-- Toolbar -->
<div>
  <div class="toolbar" role="banner">
    <img class="logo" src="/app/assets/JyotiTechnosoft-logo.png" />
    <div class="headers">
      <span class="header-item" (click)="goDown('home')">Home</span>
      <span class="header-item" (click)="goDown('about')">About</span>
      <span class="header-item" (click)="goDown('services')">Services</span>
      <span class="header-item" (click)="goDown('skills')">Skills</span>
      <span class="header-item" (click)="goDown('contacts')">Contacts</span>
    </div>
</div>